<footer class="footer">
    <div class="footer-bar">
        <div class="row">
            <div class="columns large-6">
                <p class="copyright">
                    &copy; Copyright {{ site.time | date: '%Y' }}
                </p>
                <!-- /.copyright -->
            </div>
            <!-- /.columns large-6 -->
            <div class="columns large-6">
                <nav class="footer-nav right">
                    <ul id="menu-footer-menu" class="menu">
                        <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page current-post-parent menu-item-60"><a href="#/about-me/">About Me</a></li>
                        <li id="menu-item-61" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-61"><a href="#/category/lifestyle/">Lifestyle</a></li>
                        <li id="menu-item-62" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-62"><a href="#/category/fashion/">Fashion</a></li>
                        <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a href="#/archive/">Archive</a></li>
                        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a href="#/contact/">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!-- /.columns large-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.footer-bar -->
</footer>