{% if page.series %}

{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}
  {% if post.series == page.series %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
    {% if post.url == page.url %}
      {% capture idx %}{{count}}{% endcapture %}
    {% endif %}
  {% endif %}
{% endfor %}


<div class="panel seriesNote">
    <p>
    Este artículo es la <strong>parte {{ idx }}</strong> de una serie de  <strong>{{ count }}</strong> artículos.
    </p>
    <ul>
    {% assign count = '0' %}
    {% for post in site.posts reversed %}
    {% if post.series == page.series %}
        {% capture count %}{{ count | plus: '1' }}{% endcapture %}
        <li>
        {% if page.url == post.url %}
            {{post.title}}
        {% else %}
            <a href="{{post.url}}">{{post.title}}</a>
        {% endif %}
        </li>
    {% endif %}
    {% endfor %}
    </ul>
</div>

{% endif %}